.jumbotron-fluid
{
  background-image: url(1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.card-img-top
{
  object-fit: cover;
  height: 40vh;
}